<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <title>Pseudomat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">Pseudomat</a>
                {% if user.is_authenticated %}
                    Logged in as user: {{ user.email }}
                    <form method="POST" action="{% url 'oidc_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Log out</button>
                    </form>
                {% endif %}
            </nav>
            <br>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>